/*

Paleta

#02031a - quase preto
#021b2b - azul escuro
#b10c43 - vermelho fosco
#ff0841 - vermelho claro
#ebdfcc - beige

*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #021b2b;
}

.container {

    text-align: center;
	background-color: #021b2b;
    padding: 20px;
}

.prodGrid {
    display: grid;
    grid-gap: 50px 50px;
    grid-template-columns: auto auto auto;
    margin-top: -80px;
    padding: 120px;
}

.gridItem {
    margin:auto auto;
    width: 300px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
	color: #ebdfcc;
	border: 2px #ff0841 solid;
    border-radius: 40px;
	background-color: #b10c43;
}

.image {
	
	width : 200px;
	
}

.box-search #pesquisar {
    
	background : none;
    font-size: 25px;
	color : #ebdfcc;
	border: 2px #ff0841 solid;
    border-radius: 2px;
	padding : 4px;
    width: 500px;
    height: 30px;
    outline: 0;
}

.box-search #but {
	background : none;
	color: #ebdfcc;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 14px 2px;
	cursor: pointer;
	border: 2px solid #ff0841;
	border-radius: 4px;
	transition : 0.2s;
}

.box-search #but:hover {
	background : #ff0841;
	padding : 15px 45px;
	transition : 0.2s;
}

.button a{
	background : none;
	color: #ebdfcc;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 2px;
    cursor: pointer;
	border: 2px solid #021b2b;
    border-radius: 4px;
	transition : 0.2s;
}

.button a:hover {
	
	background : #021b2b;
	padding : 15px 45px;
	color : #ff0841;
	transition : 0.2s;
}
