/*

Paleta

#02031a - quase preto
#021b2b - azul escuro
#b10c43 - vermelho fosco
#ff0841 - vermelho claro
#ebdfcc - beige

*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.global {
	background-color: #021b2b;
}

.container {
	margin: auto auto;
	border: 2px #ff0841 solid;
	border-radius: 20px;
	padding: 50px;
	position: relative;
	font-size: 15px;
	background : none;
	color : #ebdfcc;
	width:92%;
	height:30rem;
}

.main{
	margin-left: 32px;
	/* border: 1px solid white; */
	display: flex;
	justify-content: left;
	position: relative;
}

.photo {
	/* border: 3px solid white; */
	padding:85px;
	display: flex;
	justify-content:left;
	position: absolute;
}

.end {
	margin:auto;
	/* border: 3px solid rgb(21, 255, 0); */
	padding:50px;
	font-size: 50px;
}

.price {
	/* border: 3px solid rgb(255, 0, 0); */
	padding: 40px;
}

.button {
	
	background : none;
	color: #ebdfcc;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 14px 2px;
	cursor: pointer;
	border: 2px solid #ff0841;
	border-radius: 4px;
	transition : 0.2s;
}

.button:hover {
	
	background : #ff0841;
	padding : 15px 45px;
	transition : 0.2s;
}
