* {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
}

.global {
	background-color: #4C586B;
}

.container {
  padding: 50px;
  font-size:20px;
}

.addres {
  padding: 5px;
  border: 2px solid white;
  border-radius: 12px;
  background-color: #96a2b6;
  width:75%;
  text-align:center;
  position: absolute;
}

.addres input {
  font-size: 25px;
  border: 1px solid;
  border-radius: 2px;
  width: 500px;
  height: 30px;
  outline: 0;
}

.addres button {
  font-size: 24px;
  border: 1px solid;
  border-radius: 2px;
  width: 120px;
  height: 30px;
  opacity: 1;
  cursor: pointer;
}

.addres button:hover {
  font-size: 24px;
  border: 1px solid;
  border-radius: 2px;
  width: 120px;
  height: 30px;
  opacity: 0.5;
  cursor: pointer;
}

.prod {
  padding:30px;
  border: 2px solid white;
  border-radius: 12px;
  background-color: #96a2b6;
  width:75%;
  text-align:left;
  position: absolute;
  margin-top:90px;
}

.prod h3 {
  margin-bottom: 15px;

}

.prod form {
  margin-top:20px;
  margin-bottom:50px;

}

.bot button {
  background : none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 14px 2px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 4px;
  transition : 0.2s;
}

.bot  button:hover {
	background : #4C586B;
	padding : 15px 45px;
	color : #ffffff;
	transition : 0.2s;
}


.nutshell {
  padding:5px;
  border: 2px solid white;
  border-radius: 12px;
  background-color: #96a2b6;
  width: 16%;
  height:50%;
  text-align:left;
  margin-left: 1055px;
}

.nutshell button {
  background : none;
  color: white;
  background-color: #4C586B;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 14px 4px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 4px;
}

.nutshell button:hover {
  background : none;
  color: white;
  background-color: #4C586B;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 14px 4px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
}
