/*

Paleta

#02031a - quase preto
#021b2b - azul escuro
#b10c43 - vermelho fosco
#ff0841 - vermelho claro
#ebdfcc - beige

*/

* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

.global {
	background-color: #021b2b;
}

.container {
  padding: 50px;
  font-size: 20px;
  display: flex;
  width: 100%;
}

.address {
	
	color : #ebdfcc;
	text-align: center;
 
}

.address input {
	padding: 5px;
	border : 2px #ff0841 solid;
	border-radius: 12px;
	background : none;
	color : #ebdfcc;
	width: 50%;
	text-align: center;
}

.button {
	background : none;
	color: #ebdfcc;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 14px 2px;
	cursor: pointer;
	border: 2px solid #ff0841;
	border-radius: 4px;
	transition : 0.2s;
}
.buttoncart {
	background : none;
	color: #fff;
	padding: 8px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 0 15px 10px 15px;
	cursor: pointer;
	border: 2px solid #ff0841;
	border-radius: 4px;
	transition : 0.2s;
}

.buttoncart:hover {
	
	background: #ff0841;
	padding: 8px 10px;
	transition: 0.2s;
	
}

.button:hover {
	
	background: #ff0841;
	padding: 15px 45px;
	transition: 0.2s;
	
}

.prod {
  padding: 30px;
  border : 2px #ff0841 solid;
  border-radius: 12px;
  background-color: #021b2b;
  color : #ebdfcc;
  width: 100%;
  text-align: left;
  margin-top: 20px;
}

.prod h3 {
  margin-bottom: 15px;
}

.prod form {
  margin-top: 20px;
}


.nutshell {
  padding: 5px;
  border : 2px #ff0841 solid;
  border-radius: 12px;
  background-color: #021b2b;
  color : #ebdfcc;
  width: 16%;
  height: 50%;
  text-align: left;
  margin: 0 0 0 50px;
}


.tableitem {
	align-tems: center;
}

.table {
  margin: 10px 0 0 0;
  background-color: #021b2b;
  color : #ebdfcc;
  width: 100%;
  text-align: center;
  border : 2px #ff0841 solid;
  border-radius: 12px;
  padding: 10px 0 0 0;
}

.table .teste {
  text-align: left;
  padding: 0 0 0 10px;
}